STEAM_USER=your_steam_username
STEAM_PASSWORD=your_steam_password
REGISTRY=registry.gitlab.inria.fr/eurobin-horizon/code/ros2-vive-controller
TAG=latest

# General
ROS_DOMAIN_ID=2
LINEAR_SCALE=1.75 # Scale factor for linear position, adjust as needed for your setup

# Hardware Serials
SERIAL_LEFT=LHR-97752221 # Replace with your left controller's serial number
SERIAL_RIGHT=LHR-4BB3817E # Replace with your right controller's serial number
REFERENCE_LIGHTHOUSE_SERIAL=LHB-2E7D2119 # Replace with your reference lighthouse's serial number (The one that will be used as origin)

